# requirements.txt
# Framework para la API
fastapi
uvicorn

# Para la comunicación con BigQuery y Cache
google-cloud-bigquery
pandas
db-dtypes # Requerido por BigQuery para manejar tipos de datos
pyarrow  # Requerido por to_dataframe_async para optimización
cachetools # Para el cache en memoria
google-cloud-storage # Para servir el archivo original entregado por la empresa
